<h3>Detalle de producto - <small><%= @product.name %></small></h3>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @product.code %></h6>
    <p class="card-text"><%= @product.comments%></p>
    <a href="#" class="card-link">Editar</a>
    <a href="#" class="card-link">Eliminar</a>
  </div>
</div>